Index:
  Background: Build

CompileFlags:                    
  Add: []             
  Remove: -W*                     
  Compiler: clang++ 

Diagnostics:
  UnusedIncludes: None
  MissingIncludes: None
  Suppress: [-Wundefined-internal, -Wunused-function, -Wunused-template, -Wunknown-pragmas]
